<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd
	   					     http://www.springframework.org/schema/context
	   					      http://www.springframework.org/schema/context/spring-context-4.0.xsd
	   					       http://www.springframework.org/schema/data/mongo
	   					      http://www.springframework.org/schema/data/mongo/spring-mongo.xsd
	   					   ">
    <!--
       Загружает properties файл в конфигурацию Spring (т.е. сюда).
       Переменные из файла можно будет использовать как ${mongo.host} (пример см. ниже)
       -->
    <context:property-placeholder location="classpath:mongo.properties"/>

    <!-- Создаем бин 'mongo' -->
    <mongo:mongo host="${mongo.host}" port="${mongo.port}"/>

    <!--
    Создаем бин 'mongoDbFactory'.
    Если MongoDB не требует авторизации, то поля username, password можно убрать
    -->
    <mongo:db-factory
            username="${mongo.username}"
            password="${mongo.password}"
            dbname="${mongo.db}"
            mongo-ref="mongo"/>

    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg name="mongoDbFactory" ref="mongoDbFactory"/>
    </bean>


</beans>